.view-body
  a.close-button(href="#level2") &times;

  .content
    h1.name Type

    p If you show a new view and set a transition, the stack assumes the view should leave the same way it entered.

    pre: code.
      viewstack.show("name", {
        transition: "<span class="name">type</span>"
      })
