html,
body
  background: black
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-size: 16px
  font-family: "Avenir Next", sans-serif
  line-height: 1.25em
  overflow: hidden
  -webkit-tap-highlight-color: transparent
  +experimental(text-size-adjust, none)
  +experimental(user-select, none)

a
  color: inherit
  text-decoration: none
  -webkit-touch-callout: none

h1, h2, p
  margin: 8px 0

h1
  font-size: 24px

h2
  font-size: 17px

code
  background: #ccc
  padding: 10px
  border-radius: 5px
  text-align: left
  display: block

  pre
    margin: 0

#views
  position: absolute
  top: 50%
  left: 50%
  max-width: 320px
  max-height: 568px
  margin: -230px -160px

.nav-bar
  color: #fff
  position: absolute
  height: 70px
  width: 100%
  text-align: center
  line-height: 50px
  background: #1a1a1a

  .nav-bar-button-left,
  .nav-bar-button-right
    position: absolute
    width: 50px
    height: 52px
    bottom: 0

    &:active
      opacity: 0.5

  .nav-bar-button-left
    left: 0

  .nav-bar-button-right
    right: 0

  .nav-bar-title
    font-size: 20px
    height: 50px
    margin: 18px 70px 0

.view-body
  background: #e8e8e8

.content
  padding: 20px
  text-align: center

.button
  display: block
  margin: 10px 0
  padding: 10px
  border: 1px solid
  border-radius: 4px

  &:active
    background: #ccc

#views #level4-view
  h1
    text-transform: capitalize

  .view-body
    top: 0
